h1{
  color:purple;
  background-color:lightgreen;
}
body{
  background-image:url('http://lovelace-media.imgix.net/uploads/752/9182cf50-f75d-0132-f409-0e18518aac2f.jpg?w=700&fit=max&auto=format&q=70');
  background-size:50px;
}
ol{
	font-size: 30px;
	color: purple;
	background-color: lightgreen;
}
