h1 {
  color: yellow;
  background-color: red;
}

h2 {
  color: red;
  background-color: yellow;
}

body {
  background-image: url("http://www.lovethispic.com/uploaded_images/171264-I-Love-You-Mom.jpg");
  background-size: 200px;
}