#bigTitle {
  font-size:3em;
  font-weight: 800;
  text-align: center;
  display: block;
}

.col-4{
	width: 33.3333%;
}
.col-8{
	width: 66.6666%;
}

.col-8, .col-4 {
	float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.card {
  cursor: pointer;
  position: relative;
/*   top: 50%; */
  width: 120px;
  height: 300px;
  perspective: 500px;
  z-index: 10;
  
}
.card img{
  width: 100%;
}
.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: transform 1s;
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
.card.flip .content {
  -ms-transform: translateY(85px);
-webkit-transform: translateY(85px);
-moz-transform: translateY(85px);
-o-transform: translateY(85px);
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;

}
.card .content .front,
.card .content .back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.card .content .back {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY( 180deg );
}

/*#map {
	float: right;
	width: 200px;
	height: 200px;
	margin: 100px 800px 10px -100px;
}

#chart {
	float: left;
	width: 200px;
	height: 200px;
	margin: -210px 900px 500px -300px;
	border: 10px solid #aaa;
}

*/

.inner{
overflow: auto;
}

.progress{

	color: blue;
	background-color: green;
}

.amountOfProgress {
color: pink;
}


#outerprog {
  border: solid;
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, 
    red, yellow, green);
}

#innerprog{
 background-color: white;
  width: 100%;
  height: 100%;
  transition: all 2s;
  float: right;
  color: black;
}

.contact {

margin: 40px;

}

#click {

	margin: 35px; 


 margin-top: 50px;
    margin-bottom: 00px;
    margin-right: 100px;
    margin-left: 0px;




}

iframe {

max-width: 100%;

}

.frame {
/*   border: 2px solid; */
  -webkit-box-shadow: 23px 6px 111px -1px rgba(0,0,0,0.52);
-moz-box-shadow: 23px 6px 111px -1px rgba(0,0,0,0.52);
box-shadow: 23px 6px 111px -1px rgba(0,0,0,0.52);
  height: 500px;
  margin: 0 auto;
  width: 800px;
  overflow:hidden
}

#slider {  
/*   border: 1px dashed red; */
  height: 100%;
  width: 400%;
  transition: margin-left 1s;
  margin-left: 0;
  background-color: white;
}

#slider.two{ margin-left: -100%;}
#slider.three{ margin-left: -200%;}
#slider.four{margin-left: -300%;}

.slide{
/*   border: 1px dotted blue; */
  float: left;
  width: 25%;
  height: 100%;
  
}

.slide img {
  width: 100%
}
.slide h2 {
    text-align: center;
  color: green;
  border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 500px;
    height: 50px; 
   margin: auto;
    width: 50%;
      padding: 10px;

}

.slide:nth-child(even) > h2 {
  
  color: blue;
  border-color: blue;
  
}


